hostname {{ node }}
!
username cisco
 group root-lr
 group cisco-support
 secret cisco
!
username clab
 group root-lr
 group cisco-support
 secret clab@123
!
vrf clab-mgmt
 address-family ipv4 unicast
!
line default
  transport input ssh
!
netconf-yang agent
 ssh
!
interface {{ master.devices[node].interfaces.mgmt.name }}
 vrf clab-mgmt
 ipv4 address {{ master.devices[node].interfaces.mgmt.ipv4_address }}
 no shutdown
!
ssh server v2
ssh server vrf clab-mgmt
ssh server netconf vrf clab-mgmt
xml agent tty iteration off
lldp
ipv4 netmask-format bit-count

