!
hostname {{ .ShortName }}
!
username {{ .Env.USERNAME }} privilege 15 password 0 {{ .Env.PASSWORD }}
username cisco privilege 15 password 0 cisco
!
no ip domain lookup
!
ip scp server enable
!
lldp run
!
archive
 path bootflash:
!
! When containerlab launches Cisco CSR1000v node the GigabitEthernet1 interface of the VM gets 
! assigned 10.0.0.15/24 address from the QEMU DHCP server. This interface is transparently stitched 
! with container's eth0 interface such that users can reach the management plane of the Cisco CSR1000v 
! using containerlab's assigned IP.
!
!interface GigabitEthernet1
! vrf forwarding {{ .Env.CLAB_MGMT_VRF }}
! ip address 10.0.0.15 255.255.255.0
!