!
hostname {{ .ShortName }}
!
username {{ .Env.USERNAME }}
 group root-lr
 group cisco-support
 secret {{ .Env.PASSWORD }}
!
username cisco
 group root-lr
 group cisco-support
 secret cisco
!
grpc
{{ if .Env.CLAB_MGMT_VRF }} vrf {{ .Env.CLAB_MGMT_VRF }}{{end}}
 port 57400
 no-tls
 address-family dual
!
{{- if .Env.CLAB_MGMT_VRF }}
vrf {{ .Env.CLAB_MGMT_VRF }}
 address-family ipv4 unicast
 !
{{- end}}
!
line default
  transport input ssh
!
netconf-yang agent
 ssh
!
router static
{{ if .Env.CLAB_MGMT_VRF }} vrf {{ .Env.CLAB_MGMT_VRF }}{{end}}
{{- if .MgmtIPv4Gateway }}
 address-family ipv4 unicast
  0.0.0.0/0 MgmtEth0/RP0/CPU0/0 {{ .MgmtIPv4Gateway }}
  !
{{- end}}
!
ssh server v2
{{- if .Env.CLAB_MGMT_VRF }}
ssh server vrf {{ .Env.CLAB_MGMT_VRF }}
{{- end}}
ssh server netconf {{ if .Env.CLAB_MGMT_VRF }} vrf {{ .Env.CLAB_MGMT_VRF }}{{end}}
xml agent tty iteration off
lldp