!
hostname {{ .ShortName }}
!
username {{ .Env.USERNAME }}
 group root-lr
 group cisco-support
 secret {{ .Env.PASSWORD }}
!
username cisco
 group root-lr
 group cisco-support
 secret cisco
!
grpc
 port 57400
 no-tls
 address-family ipv4
!
line default
  transport input ssh
!
netconf-yang agent
 ssh
!
router static
 address-family ipv4 unicast
  0.0.0.0/0 MgmtEth0/RP0/CPU0/0 {{ .MgmtIPv4Gateway }}
  !
!
ssh server v2
ssh server netconf
xml agent tty iteration off
lldp