{% for intf, intf_details in master.devices[node].interfaces.items() if intf | regex_search('[^mgmt]') %}
interface {{ intf }}
{% block base_intf_config scoped %} {#- scoped allows to use variables in child template #}
  no shutdown
  {% if intf_details.description is defined and intf_details.description %}
  description {{ intf_details.description }}
  {% endif %}
  {% if intf_details.ipv4_address is defined and intf_details.ipv4_address %}
  ip address {{ intf_details.ipv4_address }}
  {% endif %}
{% endblock base_intf_config %}
{% endfor %}
end
