{% set nodes = master.devices %}
segment-routing
 traffic-eng
  logging
   policy status
  !
  on-demand color 999
   dynamic
    !
    affinity
     exclude-any
      name AVOID_DWDM
     !
    !
   !
  affinity-map
   name AVOID_DWDM bit-position 10
  !
  {% for intf, intf_details in nodes[node].interfaces.items() if intf_details.srte is defined and intf_details.srte.affinity is defined %}
  interface {{ intf }}
   affinity
    name AVOID_DWDM
   !
  {% endfor %}
!